    <!-- Contact Section -->
    <section class="contact" id="contact">
        <div class="container">
            <h2 class="section-title" data-i18n="contact.title">Contact Us</h2>
            <div class="row">
                <div class="col-lg-6 mb-4">
                        <form class="contact-form"
                        action="https://formspree.io/f/mwpoqbkn"
                        method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Your Name" data-i18n-placeholder="contact.form.name" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" data-i18n-placeholder="contact.form.email" required>
                        </div>
                        <div class="mb-3">
                            <input type="tel" class="form-control" name="phone" placeholder="Your Phone" data-i18n-placeholder="contact.form.phone" required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Your Message" data-i18n-placeholder="contact.form.message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" data-i18n="contact.form.submit">Send Message</button>
                    </form>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="contact-info">
                        <h3 class="section-subtitle" data-i18n="contact.info.title">Get in Touch</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-phone-alt contact-icon"></i>
                                <span data-i18n="contact.info.phone">+20 106 215 7623</span>
                            </li>
                            <li>
                                <i class="fas fa-envelope contact-icon"></i>
                                <span data-i18n="contact.info.email">alfouly95gmail.com</span>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt contact-icon"></i>
                                <span data-i18n="contact.info.address"> giza, Egypt</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
